div.root {
    width: 100vw;
    padding-left: 80px;
    justify-content: center;
    align-items: center;
}
.cards-root-container {
    max-width: 1800px;
}
.card-container {
    max-height: 350px;
    margin-bottom: 10px;
}
.projects-screen{
    max-height: fit-content;
    overflow: y;
}
.spinner {
    position: absolute;
    top: calc(50% - 53px);
    left: calc(50% - 50px);
}

.no-project {
    position: absolute;
    top: calc(50% - 53px);
    left: calc(50% - 50px);
}