.page-content {
    height: max-content;
    width: 100vw;
    padding-left: 80px;
    display: flex;
}

.project-title {
    font-family: "Titillium Web", sans-serif;
}

.badge {
    background-color: #198754;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    border-color: rgb(152, 136, 136);
    align-self: center;
}

tr.analyze-method-row {
    height: 75px;
}