@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/assets/fonts/SplineSans-Regular.ttf') format('truetype');
}

body {
  font-family: "Spline Sans", sans-serif;
  min-height: 10vh;
  display: block;
}

.row {
  position: relative;
  display: flex;
}

.card {
  height: 41vh;
  border-radius: 16px;
  box-shadow: 1px 5px 20px -5px rgba(65, 51, 183, 0.25);
  max-width: 300px;
}

.content {
  height: 26vh;
}

.information {
  padding: .5rem 1.5rem 1.5rem 1.5rem;
}
.information .tag {
  display: block;
  max-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis; 
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25;
  align-self: center;
  color: rgb(158, 154, 154);
  text-decoration: underline;
}
.information .badge {
  background-color: rgb(158, 154, 154);
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  border-color: rgb(152, 136, 136);
  align-self: center;
}
.information .title {
  display: block;
  max-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
  font-size: 1.5rem;
  line-height: 1.25;
}

.online {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  border: 2px solid rgb(163, 249, 34);
  background-color: rgb(173, 255, 47);
}	

.offline {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  border: 2px solid gray;
}	

.information .info {
  height: max-content;
  display: block;
  max-width: fit-content;
  text-overflow:ellipsis;
  max-height: 25vh;
}


.information .tag:hover ,
.information .title:hover  {
    text-overflow: inherit;
    overflow: visible;
}

.information .button {
  font: inherit;
  line-height: 1;
  border: 2px solid black;
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  display: fşex;
  align-items: center;
}
.information .button:hover {
	background-color: white;
	cursor:pointer;
}
.information .button:active:not(.not-clickable) {
	background-color: white;
	border-color: white;
	cursor:grabbing;
	transform: translateY(4px);
}

.project-card-container {
  display: flex;
}