body, html {
    width: fit-content;
    height: 100vh;
}
.page-content {
    height: 100vh;
    padding-left: 80px;
    display: flex;
}

.badge {
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    border-color: rgb(152, 136, 136);
    align-self: center;
}

.badge.analyzed {
    background-color: green;
}
.badge.analyzing {
    background-color: rgb(158, 154, 154);
}
.badge.not-analyzed {
    background-color: red;
}

.loading-container {
    flex-direction: column;

}

.card {
    --bs-card-border-width: unset;
    background-color: unset !important;
}

::ng-deep p-progressspinner *{
    fill: white;
}

::ng-deep div.p-multiselect.p-component {
    max-width: 300px;
}