<body>
  <nav class="main-menu">
    <h4 class="title">FADCR</h4>
    <ul>
      <li>
        <a href="">
          <fa-icon [icon]="faHome"></fa-icon>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <fa-icon [icon]="faSearch"></fa-icon>
          <span class="nav-text">Search</span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <fa-icon [icon]="faChartLine"></fa-icon>
          <span class="nav-text">Analysis</span>
        </a>
      </li>
    </ul>  
    <ul class="logout">
      <li>
        <a href="#">
          <fa-icon [icon]="faPowerOff"></fa-icon>
          <span class="nav-text"> Logout </span>
        </a>
      </li>
    </ul>
  </nav>
</body>
